<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context 
       					   http://www.springframework.org/schema/context/spring-context.xsd
       					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					   http://www.springframework.org/schema/tx 
       					   http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 子模块：职务 -->
    <!-- dao -->
    <bean id="postDao" class="cn.itcast.crm.dao.impl.CrmPostDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- service -->
    <bean id="crmPostService"
          class="cn.itcast.crm.service.impl.CrmPostServiceImpl">
        <property name="crmPostDao" ref="postDao"></property>
    </bean>
    <!-- action -->
    <bean id="postAction" class="cn.itcast.crm.action.PostAction"
          scope="prototype">
        <property name="crmPostService" ref="crmPostService"></property>
    </bean>


</beans>