<beans>
    <bean id="crmUserDao" class="cn.itcast.crm.dao.impl.CrmUserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- service -->
    <bean id="crmUserService"
          class="cn.itcast.crm.service.impl.CrmUserServiceImpl">
        <property name="crmUserDao" ref="crmUserDao"></property>
    </bean>
    <!-- action -->
    <bean id="userAction" class="cn.itcast.crm.action.UserAction"
          scope="prototype">
        <property name="crmUserService" ref="crmUserService"></property>
    </bean>
</beans>